@import '../../../../styles/variables';
$play-btn-transition: all 0.2s linear;
$waves-shadow: 0.4rem 0.4rem 0.8rem $disabled, -0.4rem -0.4rem 0.8rem $white;
$icon-font-size: 2.8rem;
$btn-width: 8rem;
$circle-width: 12rem;

.circle {
    $circle-width: 12rem;
    height: $h-full;
    justify-self: center;
    border-radius: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;

    .wings {
        filter: invert(34%) sepia(89%) saturate(1000%) hue-rotate(184deg)
            brightness(94%) contrast(96%);
        animation: rotation 2s infinite linear;
        width: 240px;
        position: absolute;
    }
    .wings.paused {
        animation: none;
    }

    &__btn {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        width: $btn-width;
        height: $btn-width;
        display: flex;
        margin: 0.6rem;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-size: 3.2rem;
        color: $primary;
        z-index: 300;
        background: $neutro-info;
        box-shadow: shadowing($disabled, $white);
        cursor: pointer;
        position: relative;
        &.shadow {
            box-shadow: innerShadowing($disabled, $white);
        }

        .play {
            position: absolute;
            opacity: 0;
            transition: $play-btn-transition;
            font-size: $icon-font-size;
            &.visibility {
                opacity: 1;
            }
        }
        .pause {
            position: absolute;
            transition: $play-btn-transition;
            font-size: $icon-font-size;
            &.visibility {
                opacity: 0;
            }
        }

        &--number.MuiTypography-root {
            margin-left: $mg-3;
            font-size: $icon-font-size;
            font-weight: $fw-500;
            color: $primary;
        }
        &--time.MuiTypography-root {
            font-size: $icon-font-size;
            font-weight: $fw-500;
            color: $primary;
        }
    }

    &__back-1,
    &__back-2 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        filter: blur(1px);
        z-index: 100;
    }

    &__back-1 {
        box-shadow: $waves-shadow;
        background: linear-gradient(
            to bottom right,
            $neutro-info 0%,
            $white 100%
        );
        animation: waves 4s linear infinite;
        &.paused {
            animation-play-state: paused;
        }
    }

    &__back-2 {
        box-shadow: $waves-shadow;
        animation: waves 4s linear 2s infinite;

        &.paused {
            animation-play-state: paused;
        }
    }
}

@keyframes waves {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
