@import '../../styles/variables';

$btn-transition: 0.3s ease;

.appbtn {
    margin: $mg-0;
    padding: $mg-1 $mg-2;
    border-radius: $rounded;
    box-shadow: shadowing($disabled, $white);
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: $btn-transition;
    border: none;
    outline: none;
    p {
        margin: $mg-0;
        cursor: pointer;
        font-size: $fs-md;
        font-weight: $fw-700;
        color: $primary;
    }
}
